<!--Import materialize.css-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link rel="stylesheet" href="style.css" />

<div>
  <footer class="section grey darken-3 darken-2 white-text center">
    <p class="flow-text styledHeader">
      Tie<span class="secondaryTextColor">Co</span>
      &copy; 2019
    </p>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
