<link rel="stylesheet" href="style.css" />
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper primaryColor">
      <!-- Refresh the page -->
      <a href="javascript:window.location.href=window.location.href"
        ><img src="img/HUD_FINISHED.png" style="width:345px; height:120px"
      /></a>

      <!-- <a
        href="#!"
        class="brand-logo white-text"
        style="font-family: Arial, Helvetica, sans-serif"
      >
        <span class="secondaryTextColor">Tie</span>Co
      </a> -->

      <a href="#" data-target="mobile-nav" class="sidenav-trigger">
        <i class="material-icons white-text">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#home" class="white-text">
            Introduction
          </a>
        </li>
        <li>
          <a href="#teachers" class="white-text">
            Teacher
          </a>
        </li>
        <li>
          <a href="#about" class="white-text">
        About us
          </a>
        </li>
        <li>
          <a href="#contact" class="white-text">
            Contact
          </a>
        </li>
        <li style="height:50px">
          <a href="#register" class="secondaryTextColor">
            Request
          </a>
        </li>
        <%if (!user) {%>
        <li>
          <a href="" class="white-text secondaryColor btn">
Login          </a>
        </li>
        <li>
          <a href="" class="white-text secondaryColor btn">
Signup          </a>
        </li>
        <% }else{ %>
        <li>
          <a href="" class="white-text secondaryColor btn">
            تسجيل الخروج
          </a>
        </li>
        <%}%>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-nav">
  <li>
    <a href="#home" class="white-text">
      المقدمة
    </a>
  </li>
  <li>
    <a href="#teachers" class="white-text">
      أساتذتنا
    </a>
  </li>
  <li>
    <a href="#about" class="white-text">
      من نحن؟
    </a>
  </li>
  <li>
    <a href="#contact" class="white-text">
      التواصل
    </a>
  </li>
  <li>
    <a href="#register" class="white-text">
      التسجيل
    </a>
  </li>
</ul>
