<link rel="stylesheet" href="style.css" />
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <div class="secondaryColor" style="height:4px"></div>
      <img
        src="img/logo.png"
        style="height: 55px; width: 65px; padding-top: 5px"
      />
      <a
        href="#!"
        class="brand-logo black-text"
        style="font-family: Arial, Helvetica, sans-serif"
      >
        <span class="secondaryTextColor">Tie</span>Co
      </a>

      <a href="#" data-target="mobile-nav" class="sidenav-trigger">
        <i class="material-icons black-text">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#home" class="secondaryTextColor">
            المقدمة
          </a>
        </li>
        <li>
          <a href="#teachers" class="black-text">
            أساتذتنا
          </a>
        </li>
        <li>
          <a href="#about" class="black-text">
            من نحن؟
          </a>
        </li>
        <li>
          <a href="#contact" class="black-text">
            التواصل
          </a>
        </li>
        <li style="height:50px">
          <a href="#register" class="secondaryTextColor">
            الطلب
          </a>
        </li>
        <%if (!user) {%>
        <li>
          <a href="/user/login" class="white-text secondaryColor btn">
            تسجيل الدخول
          </a>
        </li>
        <li>
          <a href="/user/register" class="white-text secondaryColor btn">
            إانشاء حساب
          </a>
        </li>
        <% }else{ %>
        <li>
          <a href="/user/logout" class="white-text secondaryColor btn">
            تسجيل الخروج
          </a>
        </li>
        <%}%>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-nav">
  <li>
    <a href="#home" class="secondaryTextColor">
      المقدمة
    </a>
  </li>
  <li>
    <a href="#teachers" class="black-text">
      أساتذتنا
    </a>
  </li>
  <li>
    <a href="#about" class="black-text">
      من نحن؟
    </a>
  </li>
  <li>
    <a href="#contact" class="black-text">
      التواصل
    </a>
  </li>
  <li>
    <a href="#register" class="black-text">
      التسجيل
    </a>
  </li>
</ul>
