<link rel="stylesheet" href="style.css" />

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <div class="container">
        <img
          src="img/logo.jpg"
          style="height: 55px; width: 65px; padding-top: 5px"
        />
        <a href="#!" class="brand-logo black-text">
          <span class="secondaryTextColor">Tie</span>Co
        </a>

        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
          <i class="material-icons black-text">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#home" class="secondaryTextColor">
              المقدمة
            </a>
          </li>
          <li>
            <a href="#teachers" class="black-text">
              أساتذتنا
            </a>
          </li>
          <li>
            <a href="#about" class="black-text">
              من نحن؟
            </a>
          </li>
          <li>
            <a href="#contact" class="black-text">
              التواصل
            </a>
          </li>
          <li class="secondaryColor">
            <a href="#register" class="white-text">
              التسجيل
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-nav">
  <li>
    <a href="#home" class="secondaryTextColor">
      المقدمة
    </a>
  </li>
  <li>
    <a href="#teachers" class="black-text">
      أساتذتنا
    </a>
  </li>
  <li>
    <a href="#about" class="black-text">
      من نحن؟
    </a>
  </li>
  <li>
    <a href="#contact" class="black-text">
      التواصل
    </a>
  </li>
  <li>
    <a href="#register" class="black-text">
      التسجيل
    </a>
  </li>
</ul>
