<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <link rel="stylesheet" href="style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Arabic Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Amiri:700&display=swap&subset=arabic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
</head>

<body>
    <div class="scrollspy" id="home">
        <!-- HEADER -->
        <% include partials/header %>
            <!-- END OF HEADER -->
            <!-- START OF SLIDER-->
            <div class="slider fullscreen seperator">
                <ul class="slides">
                    <li>
                        <img class="responsive-img" src="img/slider1.jpg" alt="lmao" />
                        <div class="caption center-align">
                            <h1 class="" style="color: white;font-size: 8rem">Dars<span
                                    class="secondaryTextColor">Hub</span></h1>
                            <h3 class="light primaryTextColor hide-on-small-only" style="color: white;">
                                <span class="secondaryTextColor" style="font-weight: bold">your </span>future starts
                                with a <span class="secondaryTextColor" style="font-weight: bold">DERS</span>
                            </h3>
                            <h4>an online platform that allows you to book your in-person private tutor at a fixed and
                                affordable price and in just a tap of a button.</h4>
                            <a href="#contact" class="btn secondaryColor accent-3" style="margin-top: 20px;width:180px">
                                Contact Us </a>
                        </div>
                    </li>
                    <!-- <li>
                        <img src="img/slider1.jpg" alt="lmao" />
                        <div class="caption right-align primaryTextColor" style="margin-left:24px">
                            <h3 class="primaryTextColor">اهدافنا</h3>
                            <h5 class="light primaryTextColor hide-on-small-only">
                وحدة حرية اشتراكية
              </h5>
                            <a href="#contact" class="btn secondaryColor accent-3" style=" margin-top: 20px">
                قم بالتسجيل
              </a>
                        </div>
                    </li>
                    <li>
                        <img class="img3" src="img/slider3.jpg" alt="lmao" />
                        <div class="caption left-align primaryTextColor">
                            <h3 class="primaryTextColor">صفاتنا</h3>
                            <h5 class="light primaryTextColor hide-on-small-only">
                ما شاء الله علينا كلنا حبابين ونسعى للافضل
              </h5>
                            <a href="#about" class="btn secondaryColor accent-3" style=" margin-top: 20px">
                المزيد
              </a>
                        </div>
                    </li> -->
                </ul>
            </div>

            <!-- END OF SLIDER-->
            <!--CARD PANELS OF AVAIABLE TEACHERS-->
            <div class="content primaryColorLight">
                <section class="section section-follow primaryColorLight darken2 white-text center seperator scrollspy"
                    id="teachers">
                    <h4 class="center styledHeader" style="padding-bottom: 18px">
                        Our Teachers </h4>
                    <div class="container">
                        <div class="row">
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-3">
                                    <img src="img/mathIcon.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>Math</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="math_header">8</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-1">
                                    <img src="img/chemIcon.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>Chemistry</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="chem_header">6</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-1">
                                    <img src="img/physIcon.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>Physics</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="phys_header">7</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-1">
                                    <img src="img/bioIcon.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>Biology</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="bio_header">3</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-1">
                                    <img src="img/arIcon.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>Arabic</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="ar_header">15</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-1">
                                    <img src="img/engIcon2.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>English</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="eng_header">18</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-1">
                                    <img src="img/frenIcon.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>French</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="fr_header">6</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card-panel primaryColor lighten-1">
                                    <img src="img/geoIcon.png" alt="Math" style="height: 60px;width:60px">
                                    <br>
                                    <h5>Geography</h5>
                                    <div class="mathTeachers" style="font-weight: 500;">
                                        <h5 id="geo_header">5</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--START OF FORM-->
                <section class="section section-follow primaryColorLight darken2 white-text center seperator scrollspy"
                    id="apply">
                    <form id="form">
                        <img src="img/form.png" style="width:50px;height:50px">
                        <h4 class="titles">Book a Session</h4>
                        <hr style="width: 50%;margin:auto">
                        <div class="section"></div>
                        <div class="row">
                            <div class="col s12 m5">
                                <h5 class="center titles">City</h5>
                                <img src="img/city.png" alt="City" style="height: 50px;width: 50px">
                                <div class="container">
                                    <div class="input-field col s12 input-form">
                                        <select id="city-select" name="city">
                                            <option value="" disabled selected>Choose your city</option>
                                            <option value="dms">Damascus</option>
                                            <option value="alp">Aleppo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m2 hide-on-small-only">
                                <img src="img/arrow.png" alt="lmao"
                                    style="height: 120px;width: 120px;margin-top: 50px" />
                            </div>
                            <div class="section col s12 m5"></div>
                            <div class="col s12 m4">
                                <h5 class="center titles">Subject</h5>
                                <img src="img/subject.png" alt="city" style="height: 50px;width: 50px">
                                <div class="container">
                                    <div class="input-field col s12 input-form">
                                        <select id="subject-select" name="subject" onfocus="this.selectedIndex = -1">
                                            <option value="" disabled selected> Subject</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <hr style="width: 50%;margin:auto"> -->
                        <div class="section"></div>
                        <div class="section"></div>
                        <h5 class="center titles">Time</h5>
                        <img src="img/time.png" alt="time" style="height: 50px;width: 50px">
                        <div class="container">
                            <div class="col s12" style="padding-bottom: 24px">
                                <select id="day-select" name="day">
                                    <option value="" disabled selected>Day</option>
                                </select>
                            </div>
                            <div class="section"></div>
                            <div class="col s12" style="padding-bottom: 2.5rem">
                                <select id="time-select" name="time">
                                    <option value="" disabled selected>Choose your preferred time</option>
                                </select>
                            </div>
                        </div>
                        <div class="section"></div>
                        <hr style="width: 50%;margin:auto">
                        <div class="section"></div>

                        <h5 class="center titles">Personal Information</h5>
                        <img src="img/personalIcon.png" alt="personal" style="height: 50px;width: 50px">
                        <div class="section"></div>
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12 m6 l6">
                                    <input id="name-input" type="text" class="validate" style="color: white"
                                        name="name">
                                    <label for="name-input" style="color: white">Name</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <input id="lastName-input" type="text" class="validate" style="color: white"
                                        name="lastname">
                                    <label for="lastName-input" style="color: white">Lastname</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field col s4 offset-s4">
                                    <input id="phoneNumber-input" type="number" class="validate" style="color: white"
                                        name="phone">
                                    <label for="phoneNumber-input" style="color: white">Phone number</label>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="padding-bottom: 2.5rem">
                            <button class="btn waves-effect waves-light secondaryColorLight darken-3" type="submit"
                                name="action">Complete form
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="container" style="padding-bottom: 2.5rem">
                            <p id="error" class="red-text"></p>
                        </div>
                </section>
                <section>
                    <h4 class="center styledHeader" style="padding-bottom: 18px;color: white">
                        Our Team </h4>
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/w3images/team1.jpg" height="600" alt="Jane" style="width:100%">
                                <div class="container">
                                    <h4>Noor Al Deen Al Fayad</h4>
                                    <p class="title">CTO and CO-Founder</p>
                                    <p>Full-stack Engineer</p>
                                    <p>nfayad18@ku.edu.tr</p>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="http://yders.com/wp-content/uploads/2019/10/Moayad-Haji-Ali.jpg" height="600"
                                    alt="Mike" style="width:100%">
                                <div class="container">
                                    <h4>Moayed Haji Ali</h4>
                                    <p class="title">CEO and Co-founder</p>
                                    <p>AI Engineer</p>
                                    <p>mali18@ku.edu.tr</p>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="http://yders.com/wp-content/uploads/2019/11/IMG_20191026_211902-2-360x360.jpg"
                                    height="600" alt="John" style="width:100%">
                                <div class="container">
                                    <h4>Abd Hamadeh</h4>
                                    <p class="title">Graphic Designer</p>
                                    <p>AI Engineer</p>
                                    <p>ahamadeh18@ku.edu.tr</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <%- messages('message', locals) %>
                    <% include partials/footer %>
            </div>
    </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/javascript/fetchingHeaders.js"></script>
<script src="/javascript/selectionFiltering.js"></script>
<script src="/javascript/submitForm.js"></script>

<script>
    var elems = document.querySelectorAll(".slider");
    var instances = M.Slider.init(elems, {
        indicators: true
    });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems, {});
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {});
    });
</script>

<script>
    $(document).ready(function () {
        alert('The platform currently requires substantial updates as it has been outdated since the start of the COVID pandemic\nWe have disabled logging in, signing up, and session booking until further notice.');
    });
</script>

</html>