<!-- This requires express-messages in order to work. The flash error message is designed here and is used in other ejs files -->
<div id="messages">
  <% Object.keys(messages).forEach(function (type) { %>
  <!-- <ul class="<%= type %>"> -->
  <% messages[type].forEach(function (message) { %>
  <!-- <li><%= message %></li> -->
  <div class="container green red-text center-align"><%= message %></div>
  <% }) %>
  <!-- </ul> -->
  <% }) %>
</div>
