* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: "Amiri", serif; */
  font-family: "Tajawal", sans-serif;
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Fixing image */
/* .imgContent {
  position: fixed;
  bottom: 0;
  right: 0;
} */
/*COLORS*/
.primaryColor {
  background-color: #3f4448;
}

.primaryColorLight {
  background-color: #4d5256;
}
.secondaryColor {
  /* background-color: #5900ff; */
  background-color: #cdb878;
}

.secondaryColorLight {
  background-color: #b4a26f;
}

.primaryTextColor {
  color: black;
}
.secondaryTextColor {
  color: #cdb878;
}

.secondaryTextColorLight {
  color: #b4a26f;
}

.success {
  color: green;
}
.error {
  color: red;
}
.styledHeader {
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
}

.titles {
  padding: 0 0 20px 0;
}

/* ul.dropdown-content.select-dropdown li span {
  color: rgba(0, 200, 200, 0.8);
} */

.content {
  position: relative;
  top: 100vh;
}
/* Overriding button hover color */
.btn:hover {
  background-color: #b4a26f;
}

.btn {
  height: 34px;
}
/*Overriding the default materialize settings*/
.slider.fullscreen {
  top: 3vh;
}

/*Overring the indicator color*/
.slider .indicators .indicator-item.active {
  background-color: #b4a26f;
}

.slider .indicators .indicator-item {
  margin-bottom: 24px;
  width: 12px;
  height: 12px;
  background: #4444;
}

/* FORM SPACING */
.input-form {
  padding-bottom: 24px;
}

/* Changing the navbar height */
nav {
  height: 48px;
  line-height: 48px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  height: 48px;
  line-height: 48px;
}

nav .button-collapse i {
  height: 48px;
  line-height: 48px;
}

nav .brand-logo {
  font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    height: 48px;
    line-height: 48px;
  }
}
